.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#vision-container {
    display: flex;
    vertical-align: middle;
    transform: translate(0%, calc(-100% - 3px));
}

.dino-container {
    width: 1000px;
    height: 640px; /** Set this equal to vision-container height **/
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.rotation-wrapper {
    position: relative;
    width: 480px;
    height: 640px;
    margin: 0px;
    padding: 0px;
}

.rotate-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pose-renderer {
    z-index: 1;
}

.bg {
    width: 1000px; /** Set this equal to container width **/
    border: 3px solid;  
    z-index: 1;
}

.control-panel {
    display: flex;
    flex-direction: column;
}